// @import './variables.scss';
// @import './mixins.scss';

.loader {
  --loader-width: 4em;
  --loader-stroke-color: var(--primary-color);
  --loader-stroke: 2px;
  --loader-border: 2px;
  --loader-border-color: var(--primary-color-transparent);

  @include circle(var(--loader-width));
  position: relative;
  box-shadow: inset 0 0 0 var(--loader-border) var(--loader-border-color);

  &::before {
    @include cover;
    content: '';
    border-radius: inherit;
    box-shadow: inset 0 0 0 var(--loader-stroke) var(--loader-stroke-color);
    clip-path: inset(0 50% 0 0);
    mask: linear-gradient(black, transparent);
    animation: spin 1s linear infinite;
  }
}

/* HTML: <div class="loader"></div> */
.loader--linear {
  position: absolute;
  z-index: 999;
  left: -2px;
  right: -2px;
  height: 4px;

  --c: no-repeat linear-gradient(var(--primary-color) 0 0);
  background:
    var(--c),
    var(--c) transparent;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }
  66% {
    background-position:
      250% 0,
      -150% 0;
  }
  100% {
    background-position:
      250% 0,
      250% 0;
  }
}
